.sidebar {
  height: 100%;
  min-height: 100vh;
  padding: 20px;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 75px; /* Fixed size at a certain breakpoint */
  transition: max-width 0.3s ease;
  display: flex;
  flex-direction: column;
}

.sidebar a {
  color: #d0c4c4;
  padding: 2px;
  position: relative;
  text-decoration: none;
  width: 4.5rem;
  transition: all 0.3s ease;
}

.sidebar a:hover {
  color: #17a2b8; /* Default link color */
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.2rem;
}

.sidebar a.active {
  color: #17a2b8;
}

.sidebar a.active::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: #17a2b8; /* Line color */
  /* transition: all 0.3s ease; */
  border-radius: 2rem;
  transition: top 0.3s ease, height 0.3s ease;
  height: 100%;
}

@media (max-width: 1200px) {
  .sidebar a {
    width: 4.5rem;
  }
}

@media (max-width: 1100px) {
  .sidebar a {
    width: 4rem;
  }
}

@media (max-width: 1000px) {
  .sidebar a {
    width: 3.5rem;
  }
}

@media (max-width: 900px) {
  .sidebar a {
    width: 3rem;
  }
}

@media (max-width: 800px) {
  .sidebar a {
    width: 2.5rem;
  }
}

@media (max-width: 800px) {
  .sidebar {
    min-width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px 10px 5px 5px;
    min-height: auto;
  }

  .sidebar a.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4px;
    width: 100%;
    background-color: #17a2b8;
    border-radius: 2rem;
    transition: left 0.3s ease, width 0.3s ease;
  }

  .sidebar a.active::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    width: 100%;
    background-color: #17a2b8;
    border-radius: 2rem;
    transition: left 0.3s ease, width 0.3s ease;
  }
}

@media (max-width: 600px) {
  .flex-grow-1 {
    display: none;
  }
}
