.sidebar {
  height: 100%;
  min-height: 100vh;
  padding: 20px;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 75px; /* Fixed size at a certain breakpoint */
  transition: max-width 0.3s ease;
}

.sidebar a {
  color: #d0c4c4;
  padding: 2px;
  position: relative;
  text-decoration: none;
  width: 4.5rem;
  transition: all 0.3s ease;
}

.sidebar a:hover {
  color: #17a2b8; /* Default link color */
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.2rem;
}

.sidebar a.active {
  color: #17a2b8;
}

.sidebar a.active::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: #17a2b8; /* Line color */
  /* transition: all 0.3s ease; */
  border-radius: 2rem;
  /*
    Transition to add the feature that when I click on the other icon, it line should moves with effect
  */
  transition: top 0.3s ease, height 0.3s ease;
  height: 100%;
}

@media (max-width: 1200px) {
  .sidebar a {
    width: 4.5rem;
  }
}

@media (max-width: 1100px) {
  .sidebar a {
    width: 4rem;
  }
}

@media (max-width: 1000px) {
  .sidebar a {
    width: 3.5rem;
  }
}

@media (max-width: 900px) {
  .sidebar a {
    width: 3rem;
  }
}

@media (max-width: 800px) {
  .sidebar a {
    width: 2.5rem;
  }
}
