.sidebar {
  height: 100vh;
  padding: 20px;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 300px; /* Fixed size at a certain breakpoint */
  transition: max-width 0.3s ease;
}

.sidebar a {
  color: #d0c4c4;
  padding: 2px;
  position: relative;
  text-decoration: none;
  transition: color 0.3s ease;
  /* width: 100%; */
  /* text-align: center; */
}

.sidebar a:hover {
  color: #17a2b8; /* Default link color */
}

.sidebar a.active {
  color: #17a2b8;
}

.sidebar a.active::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: #17a2b8; /* Line color */
  transition: all 0.3s ease;
}

/* @media (max-width: 768px) {
  .sidebar {
    max-width: 60px; 
  }
} */

/* @media (max-width: 480px) {
  .sidebar {
    max-width: 50px; 
  }
} */
